* {
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    background-color: #333;
    display: flex; /* itens lados a lado */
    width: 750px;
}
li{
    position: relative; /*necessario para o submenu funcionar*/
}
a{
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
a:hover{
    color: yellow;
    background-color: #111;
}
/* Submeno escondido */
.sub {
    display: none;
    position: absolute;
    top: 100%;      
    left: 0;           
    background-color: #555;
    min-width: 150px; 
    width: auto; 
}

.linksub {
    padding: 10px;
}

/* Mostrar submenu no hover */
li:hover > .sub {
    display: block;
}
 
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}
img {
    margin:auto;
    width: 747px;
    border: 2px solid black;
    display: block;
    box-shadow:6px 8px 12px rgba(0, 0, 0, 0.5); /*sombra*/ 
}
header{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 0px;
}
#fooooter{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}