/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
/* Ativação do flex para todos os containers */
/* container fçex e itens flex */

/* 1. Container Flex */
.container-flex {
    display: flex;
    background-color: purple;
    gap: 10px;
    color: white;
}
.item-flex {
    background-color: orange;
    padding: 20px;
    text-align: center;
}
/* 2. Flex Direction */
.direcao-linha {
    flex-direction: row; /* padrão, itens na horizontal */
}
.direcao-coluna {
    flex-direction: column; /* itens na vertical */
}

/* 3. Flex Wrap - quebra de linha*/
.wrap {
    flex-wrap: wrap; /* permite quebra de linha */
}
.nowrap {
    flex-wrap: nowrap; /* não permite quebra de linha */
}

/* 4. Justify Content - alinhamento horizontal */
.justificar-inicio {
    justify-content: flex-start; /* padrao */
}
.justificar-fim {
    justify-content: flex-end;
}
.justificar-centro {
    justify-content: center;
}
.justificar-space-between {
    justify-content: space-between;
}
.justificar-space-around {
    justify-content: space-around;
}
.justificar-space-evenly {
    justify-content: space-evenly;
}

/* 5. Align Items - alinhamento vertical */
.alinhar-items .container-flex {
    height: 300px;
}
.alinhar-stretch {
    align-items: stretch; /* padrão */
}
.alinhar-inicio {
    align-items: start;
}
.alinhar-fim {
    align-items: flex-end;
}
.alinhar-centro {
    align-items: center;
}
.alinhar-baseline {
    align-items: baseline;
}
/* 5.1 Alinhamento de linhas (align-content) */
.alinhar-conteudo {
    align-content: space-evenly;
    height: 600px; /*definir altura para demontrar align-content */
}
.alinhar-conteudo .caixa {
    flex: 0 0 30%; /*para aumentar e fazer com que surga a quebra de linha */
}
.caixa {
    padding: 20px;
    text-align: center;
    color: white;
}

/*6. Ordenação dos Itens FLex (order) */
.ordem1 {
    order: 1;
}
.ordem2 {
    order: 2;
}
.ordem3 {
    order: 3;
}
/* 7. Flex Grow */
.exemplo-grow .item-flex {
    flex-basis: 100px;
}
.crescer1 {
    flex-grow: 1;
}
.crescer2 {
    flex-grow: 2;
}

/* 8. Align Self */
.alinhar-items-individuais .container-flex {
    height: 300px;
}
.self-inicio {
    align-self: start;
}
.self-centro {
    align-self: center;
}
.self-fim {
    align-self: end;
}
/* 9. Menu Nav */
.menu-nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
a {
    padding: 20px 20px 20px 20px;
    margin: 0px;
    color: white;
    text-decoration: none;
    flex-wrap: nowrap;
    font-weight: bold;
    
}
a:hover {
    background-color: white;
    color: rgb(0, 0, 0)
}
